@import "../../../scss/_variables.scss";

.discount-offer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }

  h2 {
    font-size: 3.4rem;
    font-weight: 600;
    color: $color-grey-0;
  }
}
