@import "../../../scss/_variables.scss";

.pagination {
  display: flex;
  gap: 0.6rem;
  padding: 4rem 0;

  @media screen and (max-width: 992px) {
    justify-content: center;
  }

  .active {
    background-color: $color-brand-500;
    color: $color-grey-50;
  }
}
