@import "../../../scss/_mixins.scss";
@import "../../../scss/_variables.scss";
@import "../../../scss/main.scss";

.navigation {
  max-width: 100%;
  display: flex;
  padding: 2rem;
  // background-color: aqua;

  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: #d7edbd;
    width: 100%;

    &__items {
      display: flex;
      align-items: center;
      gap: 3rem;
      padding-top: 1rem;

      .active {
        color: $color-brand-500;
      }

      a {
        text-decoration: none;
        font-weight: 400;
        color: #1f2937;
        font-size: 1.6rem;
        transition: color 0.2s ease-in;

        &:hover {
          color: $color-brand-500;
        }
      }
    }
  }
}

.logo-box {
  &__logo {
    max-width: 15rem;
  }
}
