.checked-features-content {
  padding: 4rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: 992px) {
    justify-content: center;
    margin-top: 4rem;
    align-items: center;

    .heading-box {
      align-items: center !important;
      text-align: center;
    }
  }
}
