@import "../../../scss/_variables.scss";
@import "../../../scss/main.scss";
@import "../../../scss/_mixins.scss";

@mixin list-style {
  padding: 0;
  font-size: 1.6rem;
  margin-top: 3rem;
  font-weight: 500;
}

@mixin link-style {
  text-decoration: none;
  transition: 0.2s ease-in;
}

@mixin footer-link-media-query-995 {
  @media screen and (max-width: 995px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    text-align: center;
  }
}

.footer {
  background-color: #001524;
  color: #fff;
  padding: 5rem 0;

  &__container {
    width: 100%;
    border-bottom: 1px solid $color-grey-700;
    padding: 0 4rem;
  }

  li {
    margin-top: 0.6rem;
  }

  &-logo {
    width: 16rem;
  }

  &__link-box {
    @include footer-link-media-query-995;

    ul {
      @include list-style;

      a {
        color: #9ca3af;
        @include link-style;
      }

      :hover {
        color: #fff;
      }
    }
  }

  &-item-box {
    /*Media query*/

    @include footer-link-media-query-995;
    p {
      @include paragraf;
      font-weight: 700;
      margin-top: 4rem;
      width: 60%;
      color: $color-grey-500;
      font-style: italic;

      /*Media query*/

      @media screen and (max-width: 900px) {
        text-align: center;
      }
    }
  }

  &__mobile-app {
    @include footer-link-media-query-995;
    p {
      @include paragraf();
      font-style: normal;

      font-weight: 500;
      margin-top: 2rem;
      width: 75%;
      color: $color-grey-500;
    }

    ul {
      @include list-style;
    }

    a {
      color: $color-brand-500;
      @include link-style;

      &:hover {
        color: $color-brand-200;
      }
    }
  }

  &__stores {
    display: flex;
    gap: 1.6rem;
    cursor: pointer;

    @media screen and (max-width: 995px) {
      justify-content: center;
    }

    img {
      width: 12rem;
      // min-width: 2rem;
    }
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
  }
}

.copyright {
  font-size: 1.4rem;
  color: $color-grey-500;
  font-weight: 500;
  font-family: $font-primary;
  p {
    margin: 0;
    /*Media query*/

    @media screen and (max-width: 900px) {
      text-align: center;
    }
  }
}

.socials {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;

  a {
    @include link-style;
    color: $color-grey-400;
    cursor: pointer;

    &:hover {
      color: $color-brand-500;
    }
  }

  /*Media query*/

  @media screen and (max-width: 900px) {
    margin-top: 2rem;
    justify-content: center;
  }
}
