@import "../../../scss/_variables.scss";

.products-sort {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
  color: $color-grey-600;

  p {
    font-size: 1.6rem;
  }

  select {
    background-color: $background-color-300;
    border: none;
    font-size: 1.8rem;

    option {
      background-color: $color-brand-200;
      border: none;

      &:hover {
        background-color: $color-brand-500;
      }
    }
  }
}
