@import "../scss/_variables.scss";

/* Margin top */

.mg-top-sm {
  margin-top: 2rem;
}

.mg-top-md {
  margin-top: 3rem;
}

.mg-top-lg {
  margin-top: 4rem;
}

/* Margin bottom */

.mg-bottom-sm {
  margin-bottom: 2rem;
}

.mg-bottom-md {
  margin-bottom: 3rem;
}

.mg-bottom-lg {
  margin-bottom: 4rem;
}

/* Padding top-bottom */

.pad-top-bot-sm {
  padding: 2rem 0;
}

.pad-top-bot-md {
  padding: 3rem 0;
}

.pad-top-bot-lg {
  padding: 4rem 0;
}

.pad-top-bot-xlg {
  padding: 8rem 0;
}

/* Padding bottom */
.pad-bottom-sm {
  padding-bottom: 2rem;
}

.pad-bottom-md {
  padding-bottom: 3rem;
}

.pad-bottom-lg {
  padding-bottom: 4rem;
}

/* Padding top */
.pad-top-sm {
  padding-top: 2rem;
}

.pad-top-md {
  padding-top: 3rem;
}

.pad-top-lg {
  padding-top: 4rem;
}

/* Background */

.bg-white {
  background-color: $color-grey-0;
}

.bg-black {
  background-color: #000;
}

.bg-milky {
  background-color: $background-color-300;
}

/* Alignment */

.align-end {
  align-items: flex-end;
}

/* Shadow*/

.shadow-sm {
  $shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.04);
}

.shadow-md {
  $shadow-md: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.06);
}

.shadow-lg {
  box-shadow: $shadow-lg;
}
